_export`
<script>
    document.title = "Sample homepage";
    cssLink = document.createElement("link");
    cssLink.setAttribute("rel", "stylesheet");
    cssLink.setAttribute("type", "text/css");
    cssLink.setAttribute("href", _rootPath + "styles/style.css");
    document.head.appendChild(cssLink);
</script>
<div id="main">
    <h1 id="masthead">Website</h1>
    <ul id="nav">
        <li><a class="simulatedAbsolute" href="/">Home</a></li>
        <li><a class="simulatedAbsolute" href="/posts/">Posts</a></li>
        <li><a class="simulatedAbsolute" href="/about/">About</a></li>
    </ul>
    <div id="content"></div>
</div>
<div data-template="footer"></div>
`
