body {
    background-color: #eee;
    text-align: center;
    font-family: sans-serif;
    margin-top: 0;
}

#main {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: #fff;
    padding: 1em;
}

#masthead {
    margin-top: 0;
}

ul#nav {
    padding: 0;
}

ul#nav li {
    list-item-type: none;
    display: inline;
}

#footer {
    text-align: center;
    padding: 1em;
    color: #808080;
}
